@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fffffe;
	}

	.dark {
		--background: #090009;
	}
}

:root {
	@apply bg-background dark:bg-background;
}

body {
	color: #eee;
}

main {
	padding: 0 1rem;
}

img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
}

a:hover {
	text-decoration: underline;
}