@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #eee;
	background: linear-gradient(to bottom, #000, #003);
}
main {
	padding: 0 1rem;
}

img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
}

a:hover {
	text-decoration: underline;
}
